body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

header {
    background-color: darkblue;
}

header h1 {
    color: white;
    letter-spacing: .05em;
    margin: 0;
}

.page-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-items: center;
    padding: 25px;
}

.page-title img {
    margin-right: 15px;
    height: 50px;
    width: auto;
}

.filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 10px;
    background-color: lightgray;
}

.filters__crime {
    margin-right: 10px;
}

.filters__officer {
    margin-right: 10px;
}

.witnessCriminalsSwitch {
    color: white;
    background-color: lightseagreen;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
}

.witnessCriminalsSwitch:hover {
    background-color: seagreen;
}

aside {
    margin: 10px;
}

#noteFormContainer {
    background-color: tomato;
    padding: 25px;
    margin-bottom: 10px;
}

#noteFormContainer h3 {
    margin: 0 0 10px 0;
}

#noteForm--text {
    display: block;
    margin-bottom: 10px;
}

.noteForm--clickables {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#noteForm--criminal {
    flex-basis: 70%;
}

#noteListContainer {
    display: flex;
    flex-flow: column wrap;
}

.note {
    border: 3px solid darkslategray;
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 10px;
}

.note--title {
    margin-bottom: 10px;
}

.note--content {
    margin-bottom: 10px;
}

.card-officer {
    background-color: tomato;
    margin: 10px;
    padding: 10px;
    border: 3px solid darkred;
    width: 250px;
}

#criminalsContainer {
    display: flex;
    flex-flow: row wrap;
}

.card-criminal {
    background-color: darkgray;
    margin: 10px;
    padding: 10px;
    border: 3px solid slategray;
    width: 250px;
}

.card-criminal h2 {
    margin: 0 0 10px 0;
}

.card-criminal p {
    margin: 2px 0;
}

.card-criminal button {
    margin-top: 10px;
}

.card-witness {
    background-color: darkgray;
    margin: 10px;
    padding: 10px;
    border: 3px solid slategray;
    width: 250px; 
}

.card-witness h2 {
    margin: 0 0 10px 0;
}

.card-witness p {
    margin: 2px 0;
}

.criminals-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}