@import './criminalCard.css';
@import './notes.css';

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

header {
    background-color: darkblue;
}

header h1 {
    color: white;
    letter-spacing: .05em;
    margin: 0;
}

.page-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-items: center;
    padding: 25px;
}

.page-title img {
    margin-right: 15px;
    height: 50px;
    width: auto;
}

.filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 10px;
    background-color: lightgray;
}

.filters__crime {
    margin-right: 10px;
}

.filters__officer {
    margin-right: 10px;
}

.witnessCriminalsSwitch {
    color: white;
    background-color: lightseagreen;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
}

.witnessCriminalsSwitch:hover {
    background-color: seagreen;
}